@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Prompt", sans-serif;
  }
}

@layer base {
  h1 {
    @apply text-[22px] md:text-[26px] lg:text-[34px] font-medium;
  }
  h2 {
    @apply text-[18px] md:text-[22px] lg:text-[26px] font-medium;
  }
  h3 {
    @apply text-[16px] lg:text-[22px] font-medium;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.swiper-button-next::after {
  color: theme(colors.slate.500);
  padding: 0.4em 0.5em;
  font-size: 2em;
  font-weight: 600;
  border-radius: 0.25em 0 0 0.25em;
  background-color: theme(colors.white);
}

.swiper-button-prev::after {
  color: theme(colors.slate.500);
  padding: 0.4em 0.5em;
  font-size: 2em;
  font-weight: 600;
  border-radius: 0 0.25em 0.25em 0;
  background-color: theme(colors.white);
}

.line {
  @apply w-10 md:w-full max-w-[10em] h-[2px] bg-bluegrey-dark-1;
}

.tesla-bg {
  position: relative;
}

.tesla-bg::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background-image: url("/tesla-wallpaper.png");
  background-position: center;
  background-size: cover;
  pointer-events: none;
}
